<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="warn">
	<Properties>
		<Property name="pattern">%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n</Property>
	</Properties>
		
	<Appenders>
		<Console name="current" target="SYSTEM_OUT">
			<PatternLayout pattern="${pattern}" />
		</Console>
	</Appenders>

	<Loggers>
		<Logger name="org.hibernate" level="info">
			<appender-ref ref="current" />
		</Logger>
		<Logger
			name="org.springframework.context.annotation.ClassPathBeanDefinitionScanner"
			level="info">
			<appender-ref ref="current" />
		</Logger>
		<Logger name="org.springframework.web.servlet" level="info">
			<appender-ref ref="current" />
		</Logger>
		<Root level="debug">
			<appender-ref ref="current" />
		</Root>
	</Loggers>
</Configuration>